<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <section>
      <div class="hero-container bg-cross">
        <h2 class="hero-heading">Welcome to<br> Blogga</h2>
        <h3 class="hero-heading_sm">Best place to share your ideas</h3>
        <div class="cta">
          <% if(sessUser ) { %>
            <h4>What's on your mind? </h4> <button id="add-btn" class="button">Post Now</button>
        <%  } else { %>
            <h4>Start your journey</h4> <button id="register-btn2" class="button">Here</button>
        <%  } %>
        </div>
      </div>
      <%- include('../partials/newestPosts'); %> 
      <%- include('../partials/newsletter'); %>

    </section>
    <%- include('../partials/footer'); %>
  </body>
  <script src="/static/script.js" type="module" defer></script>
</html>
