<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/header'); -%>
    <section class="posts-container">
        <h4 class="heading_middle">Posts</h4>
      <div class="post_sorting">
        <h6 class="heading_small">Sort by:</h6>
        <div class="tool-box">
            <a class="link" href="#">Author</a>
            <a  class="link" href="#">Date added</a>
            <a class="link" href="#">Title</a>
        </div>
      </div>
      <div class="grid-container">
        <% if(posts.length > 0) { %> <%posts.forEach(post => { %>

            <a href="#">
        <div class="grid-item_posts">
            <span><%= post.title %></span>
            <span>Posted on: <%= post.meta.postedOn.toString().slice(0, 16) %></span>
            <span>by <%= post.meta.author.user %></span>
        </div>
    </a>

        <% }) %> <% } else { %>
        <h6>Nothing posted yet</h6>
        <% } %>
      </div>
      <div class="pagination-panel">
          <div>
      <% if(count >= 20) { %>
        <% for(let i = 0; i < count; i = i+20) { %>
                    <span class="pagination_range"><%= i+1 %> - <%= i+20%> </span>
                    <%} %>
                    <% }  %>
                </div>
            </div>
    </section>
  </body>
  <script src="/static/script.js" type="module" defer></script>
</html>
