<html lang="en">
<head>
   <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
  <div class="wrapper">
        <div class="options-container">
            <%- include('../partials/changePass') %>
            <%- include('../partials/buddyList') %>
            <%- include('../partials/myPosts') %>
        </div>
    </div>
</body>
<script src="/static/script.js" type="module"></script>
</html>