<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%-include('../partials/header') %>
    <div class="wrapper">
    <div class="container">
      <% if(users){ %> <% users.forEach(user=>{ %>
        <div class="user">
          <p><%= user.user %></p>
          <p>Created: <%= user.born.toString().slice(0, 25) %></p>
          <p>Last active: <%= user.lastActive.toString().slice(0, 25) %></p>
          <% if(user.displayBefriend){ %>
          <span class="befriend" class="ico">🤝</span>
          <% } %>
        </div>
        <div class="posts-container">
          <% if(posts.length == 0) { %>
          <h2>Nothing posted yet.</h2>
          <% } else { %> <% posts.forEach(post => { %>
          <div class="post">
            <a href="/post<%= post %>"><%= post %></a>
          </div>
          <% }) %> <% } %>
        </div>

        <% }) %> <% } %>
      </div>
    </div>
  </body>
  <script src="static/script.js" type="module"></script>
</html>
