<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); -%>
</head>
<body>
  <%- include('../partials/header'); -%>
  <h3 class="heading_middle ">User List</h3>
  <section class="grid-container">
  <% users.forEach(user => { %>
    <div class="grid_item">
      <span><%= user.user %></span>
      <span>Joined: <%= user.born.toString().slice(0, 24) %></span>
      <!-- fix adding posts array in user model -->
      <span><%= user.user %></span>
    </div>
 <% }) %>
 
  
  </section>
</body>
<script  src="/static/script.js" type="module" defer></script>

</html>
